<nav class="navbar navbar-expand-lg navbar-includo">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'core:home' %}">
            <i class="bi bi-stars"></i> IncludoLand
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'students:profile' %}">
                        <i class="bi bi-person"></i> Профіль
                    </a>
                </li>
                {% if user.role == 'child' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'students:games' %}" data-speak="Ігри">
                        <i class="bi bi-controller"></i> Ігри
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'students:rewards' %}" data-speak="Нагороди">
                        <i class="bi bi-award"></i> Нагороди
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'students:audiostories' %}" data-speak="Аудіоказки">
                        <i class="bi bi-headphones"></i> Аудіоказки
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'students:nature_sounds' %}" data-speak="Звуки природи">
                        <i class="bi bi-volume-up"></i> Звуки
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">
                        <i class="bi bi-box-arrow-right"></i> Вийти
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">
                        <i class="bi bi-box-arrow-in-right"></i> Увійти
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register_student' %}">
                        <i class="bi bi-person-plus"></i> Реєстрація
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>